.site-title {
    padding: 10px;
  }
  
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;

  }

  #banner-info {
    margin-left: 20px;
  }

  .caption-line {
    margin-left: 55%;
    margin-bottom: 45%;
    color: rgb(53, 26, 9);
  }

  a, footer-link {
    font-weight: bold;
    color: rgb(53, 26, 9);
    text-decoration: none;
  }

  footer {
    background-color: rgb(223, 209, 192);
    text-align: center;
  }

  #submit-btn {
    background-color: rgb(53, 26, 9);
    color:white;
  }

  #sort-price {
    margin-left: 2%;
    margin-bottom: 2% ;
  }

  .car-container {
   
  }

  .navbar {
    background-color: trnasparent;
    background: transparent;
  }